## Segmenting and Clustering 3-1

##### The cell below will install beautifulsoup libraries

In [3]:
!pip install bs4

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/d1/41/e6495bd7d3781cee623ce23ea6ac73282a373088fcd0ddc809a047b18eae/beautifulsoup4-4.9.3-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 4.9MB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0" (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/41/e7/3617a4b988ed7744743fb0dbba5aa0a6e3f95a9557b43f8c4740d296b48a/soupsieve-2.2-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.2

##### Importing the required modules and functions

In [27]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

##### The below url contains an html table with the required data

In [33]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

##### get the contents of the webpage in text format and store in a variable called html_data

In [34]:
html_data  = requests.get(url).text

#### Using beautiful soup extract the table with GameStop Quarterly Revenue and store it into a dataframe named gme_revenue

In [38]:
soup = BeautifulSoup(html_data,"html5lib")

In [39]:
tables = soup.find_all('table')

In [40]:
for index,table in enumerate(tables):
    if ("Postal Code" in str(table)):
        table_index = index
print(table_index)

0

#### Creating The dataframe consist of three columns: PostalCode, Borough, and Neighborhood.

In [41]:
canada_data = pd.DataFrame(columns=["Postal Code", "Borough", "Neighbourhood"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        code = col[0].text.strip("\n")
        borough = col[1].text.strip("\n")
        neighbourhood = col[2].text.strip("\n")
        canada_data = canada_data.append({"Postal Code":code, "Borough":borough, "Neighbourhood":neighbourhood}, ignore_index=True)
    
canada_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Extracting Only process the cells that have an assigned borough.

In [51]:
canada_data.drop(canada_data.loc[canada_data['Borough']=='Not assigned'].index, inplace=True)

In [52]:
canada_data.reset_index(drop=True, inplace=True)
canada_data.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [53]:
# Shape of the Dataframe
canada_data.shape

(103, 3)

#### Extracting geographical coordinates of each postal code into a Pandas DataFrame

In [54]:
df_geo = pd.read_csv("https://cocl.us/Geospatial_data")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Creating df_merge_col Dataframe by merging Canada_data and df_geo DataFrames

In [55]:
df_merge_col = pd.merge(canada_data, df_geo, on='Postal Code')

In [57]:
df_merge_col.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494